h2 {
    color: #00CED1;
}

h1 {
    color: #FFA07A;
}
a {
    color: #6495ED;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.error {
    color: red;
    font-weight: bold;
}
